<!DOCTYPE html>
<html>
<head>
    <script src="https://unpkg.com/react@16.7.0/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16.7.0/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>

    <style>
        .class-highlight {
            color: green;
        }
        .my-fruit {
            color: red;
            font-style: italic; 
        }

    </style>
</head>
<body>
    <div id="my-first-component">
    </div>

    <div id="my-fruit-list">
    </div>

    <script type='text/babel' src="ReactComponents.js">
    </script>
</body>
</html>