<!DOCTYPE html>
<html>
<head>
    <script src="https://unpkg.com/react@16.7.0/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16.7.0/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>

    <style>
        .class-highlight {
            color: green;
        }
    </style>
</head>
<body>
    <div id="root">
    </div>
    <script type='text/babel'>

        class AnotherComponent extends React.Component {
            render() {
                return (
                  <div>
                    <h2 className = "class-highlight">Hello world from a component!</h2>
                  </div>
                );
            }
        }

        ReactDOM.render(<AnotherComponent />,
            document.getElementById("root"));
    </script>
</body>
</html>
